body {
  background: rgb(58,137,58);
  background: radial-gradient(circle, rgb(58,137,58) 0%, rgba(19,98,19,1) 100%);
  font-family: 'Press Start 2P', sans-serif;
}

.player {
  width: 28px;
  height: 32px;
  transform: scale(1.25);
  background: url('../img/sprite.png');
  background-position-y: -32px;
  margin: 4px;
}

.left {
  background-position-y: -32px;
}

.right {
  background-position-y: -64px;
}

.down {
  background-position-y: 0;
}

.up {
  background-position-y: -96px;
}

#board {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  padding: 0;
  margin: 0;
}

.cell {
  width: 40px;
  height: 40px;
}

.green {
  background: url('../img/zelda2.png');
  background-position-x: -163px;
  background-position-y: -109px;
  background-size: 574px;
}

.trap {
  background: url('../img/zelda2.png');
  background-position-x: -76px;
  background-position-y: -22px;
  background-size: 574px;
}

.flower {
  background: url('../img/zelda2.png');
  background-position-x: -105px;
  background-position-y: -1px;
  background-size: 360px;
}

.tree {
  width: 210px;
  height: 250px;
  z-index: -1;
  position: absolute;
  background: url('../img/zelda2.png');
  background-size: 600px;
  background-position-y: -330px;
}

.treeYellow {
  top: 19%;
  left: 17%;
  background-position-x: -2px;
}

.treeRed {
  top: 60%;
  left: 10%;
  background-position-x: -200px;
}

.treeGreen {
  top: 10%;
  right: 11%;
  background-position-x: -400px;

}

.buttonPlay {
  padding: 1rem;
  border-radius: 15px;
}

.buttonPlayCenter {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.gameOver p {
  font-size: 2rem;
  color: whitesmoke;
  margin: 20px;
  letter-spacing: 5px;
}

.buisson {
  background: url('../img/zelda2.png');
  background-position-x: -204px;
  background-position-y: -65px;
  background-size: 35.5rem;
}

.gameOver {
  display: block;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: perspective(1px) translateY(-50%);
  width: 50%;
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 2px black;
  border-radius: 10px;
}

.none {
  display: none;
}

/*https://codepen.io/Inderpreet23/pen/rLzbLk*/

.hit {
  position: relative;
}

.bar {
	position: absolute;
	width: 30px;
	height: 3px;
  border-radius: 50%;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.white {
  background-color: #fff;
}

.barTop {
	top: -5px;
	left: -5px;
}
.barRight {
	top: 18px;
	right: -28px;
	transform: rotate(90deg);
}
.barBottom {
	bottom: -5px;
	left: -5px;
}
.barLeft {
	top: 18px;
	left: -28px;
	transform: rotate(90deg);
}
 @-webkit-keyframes h-move {
 0% {
left: -10px;
}
100% {
left: 40px;
}
}
 @keyframes h-move {
 0% {
left: -10px;
}
100% {
left: 40px;
}
}
.barTop, .barBottom {
	-webkit-animation-name: h-move;
	animation-name: h-move;
}
 @-webkit-keyframes v-move {
0% {
top: -10px;
}
100% {
top:40px;
}
}
 @keyframes v-move {
 0% {
top: -10px;
}
100% {
top:40px;
}
}
.barRight, .barLeft {
	-webkit-animation-name: v-move;
	animation-name: v-move;
}

.heart {
  position: absolute;
  top: 3rem;
  right: 4rem;
  z-index: 1;
  display: flex;
  gap: 1rem;
}

.heart-bg {
  width: 3rem;
  height: 3rem;
  background-image: url("../img/heart.png");
  background-size: cover;
}

.mob {
  width: 40px;
  height: 40px;
  background: url('../img/mob.png');
  transform: scaleX(-1);
  background-position-y: -8px;
  background-size: 670px;
}

.move-buttons {
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translate(50%, -50%);
}

.move-buttons button {
  padding: 15px;
  border-radius: 10px;
}

.move-buttons div {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  gap: 5px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



